[Unit]
Description=Proxy Xroad for wsdl services
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/x-road-proxy/src
ExecStart=/usr/bin/python3 -u /var/www/html/x-road-proxy/src/index.py
Restart=on-failure

[Install]
WantedBy=multi-user.target